.image {
    width: 100%;
    height: 100vh;
}
.dropDownContainer{
    width: 100%;
    
}

.imagePickerContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
}
.baseContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-self: center;
    margin-top: 50px;
    padding: 20px;
}

.separator{
    width: 100%;
    background-color: #000;
    height: 1px;
    margin-top: 5px;
}

.saveButtonContainer {
    display: flex;
    justify-content: center;
    width:100%
}

.saveButton {
    background-color: #1366D9;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

.secondaryContainer{
    display: flex;
    flex-direction: column;
    width:30vw;
    justify-content: center;
    align-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-self: center;
    padding: 20px;
    border-radius: 10px;
    /* margin: 20px; */

}

.title {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    font-family: "Roboto", sans-serif;
}

.inputContainerStyle {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 7px;
}

.inputContainerStyle input{
    padding: 7px;
}

.inputStyle{
    display: flex;
    flex-direction: row;
    display: flex;
    /* width: 100%; */
    padding:2px;

    padding-top: 10px;
    padding-bottom: 10px;
    border :0.5px solid #2B2F38;
    border-width: 1px;
    border-radius: 5px;
}

.inputStyle input{
    padding: 5px;
}

.inputStyle:has(input:focus){
    border: 2px solid rgb(203, 140, 72);
}
.inputLabel{
    color: #48505E;
    /* position: absolute; */
    /* bottom:0 */
}
.inputLabelContainer{
    position: absolute;
    /* top: 0; */
}
.floatingInputContainer{
    margin-top: 20px;
    width: 100%;
}

@media screen and (max-width:650px) {

    .secondaryContainer{
        width: 70VW;
    }

    .saveButton{
    font-size: 15px;
    }

    .baseContainer{
       margin-top: 50px;
    }
    
}