.tableHeadingContainer {
    display: flex;
    justify-content: space-between;
    background-color: #F4F5FC;
    padding: 10px;
    border-radius: 10px;
}

.tableHeading {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    color: #5C6F88;
    width: 10vw;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    word-break: break-all;
}

.modalTitle {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    margin-bottom: 15px;
}

.modalButtonContainer {
    color: white;
    padding: 10px;
    border-radius: 10px;
    background: #04B4FC;
}

.tableDataContainer {
    display: flex;
    justify-content: space-between;
    background-color: #F4F5FC;
    margin-top: 10px;
    border-radius: 10px;
}

.tableData {
    display: flex;
    font-size: 16px;
    color: #212529;
    width: 10vw;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-family: "Roboto", sans-serif;
    word-break: break-all;

}

.tableTitle {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
}

.itemImageStyle {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.tableStyle {
    margin-top: 100px;
    justify-content: center;
}

.deleteIcon {
    color: red;
}

.arrowIcon {
    color: #212529;
}

.editIcon {
    color: green;
    font-size: 20;
}

.addButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

.addButton {
    display: flex;
    background: #04B4FC;
    color: white;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
}

.buttonText {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.noDataContainer {
    width: 100vw;
    height: 10vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 22px;
    font-weight: 500;
    color: #000;
    font-family: "Roboto", sans-serif;

}

.addButtonText {
    font-size: 16px;
    margin-left: 2px;
}

@media screen and (max-width: 695px) {
    .tableHeading {
        font-size: 10px;
    }

    .tableData {
        font-size: 10px;
    }

    .itemImageStyle {
        width: 30px;
        height: 30px;
    }

    .addButtonText {
        font-size: 10px;
    }

    .title {
        font-size: 16px;
    }

    .buttonText {
        font-size: 16px;
    }
}