.modelInputStyle {
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-width: 1px;
    width: 100%;
    border-color: #000;
}
.modelInputContainerStyle {
    width: 65%;
}
.addButtonSecContainer {
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    background: #04B4FC;
    border-radius: 10px;
    justify-content: center;
    width: 100%;
}

.addButtonText {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.inputLabelStyle {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    width:33%;
}